<div class="container">
    <button class="btn" (click)="print()">Print Invoice</button>
    <div class="invoice" id="section-to-print">
        <div class="row">
            <div class="col-7">
                <img [src]="'assets/icons/bk-logo.png'" class="logo">
            </div>
            <div class="col-5">
                <h1 class="document-type display-8"><strong>INVOICE</strong></h1>
                <p class="text-right invoice-data"><strong><span>Date #:</span></strong> MM/DD/YYYY</p>
                <p class="text-right invoice-data"><strong><span>Inovice #:</span></strong> 00001</p>
                <p class="text-right invoice-data"><strong><span>Customer #:</span></strong> CUST123</p>
                <p class="text-right invoice-data"><strong><span>Purchase Order #:</span></strong> 000002</p>
                <p class="text-right invoice-data"><strong><span>Payment due by:</span></strong> MM/DD/YYYY</p>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <h6><strong>Billed To</strong></h6>
                <p>Ahmed Khattab</p>
                <p>Cairo, State, Egypt</p>
                <p>Zip Code</p>
                <p>+20102424444</p>
            </div>
            <div class="col-5">
                <h6><strong>Shipped To</strong></h6>
                <p>Ahmed Khattab</p>
                <p>Cairo, State, Egypt</p>
                <p>Zip Code</p>
                <p>+20102424444</p>
            </div>
        </div>
        <br>
        <!-- <h6>Audits et rapports mensuels (1er Novembre 2016 - 30 Novembre 2016)</h6> -->
        <table class="table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th style="border-right:1px solid #ccc;">Item Description</th>
                    <th>Unit Cost</th>
                    <th>Qty/ HR Rate</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01.</td>
                    <td style="border-right:1px solid #ccc;">
                        <p><strong>Item name</strong></p>
                        <p>Item description ..........</p>
                    </td>
                    <td>500,00€</td>
                    <td>1</td>
                    <td class="text-right">500,00€</td>
                </tr>
                <tr>
                    <td>02.</td>
                    <td style="border-right:1px solid #ccc;">
                        <p><strong>Item name</strong></p>
                        <p>Item description ..........</p>
                    </td>
                    <td>500,00€</td>
                    <td>1</td>
                    <td class="text-right">500,00€</td>
                </tr>
                <tr>
                    <td>03.</td>
                    <td style="border-right:1px solid #ccc;">
                        <p><strong>Item name</strong></p>
                        <p>Item description ..........</p>
                    </td>
                    <td>500,00€</td>
                    <td>1</td>
                    <td class="text-right">500,00€</td>
                </tr>
                <tr>
                    <td>04.</td>
                    <td style="border-right:1px solid #ccc;">
                        <p><strong>Item name</strong></p>
                        <p>Item description ..........</p>
                    </td>
                    <td>500,00€</td>
                    <td>1</td>
                    <td class="text-right">500,00€</td>
                </tr>

            </tbody>
        </table>
        <div class="row">
            <div class="col-7">
                <div class="payment-details">
                    <h6><strong>Payment method</strong></h6>
                    <p><strong>Paypal:</strong> payments@blackstoneeit.com</p>
                    <p><strong>Card payment we Accept:</strong> Visa, Mastercard, Payoneer</p>
                </div>
                <div class="payment-details">
                    <h6><strong>Terms & Condition</strong></h6>
                    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora modi, porro illo et voluptas ut
                        eos est obcaecati! Quo totam cupiditate obcaecati laboriosam voluptatem beatae rem a est
                        veritatis hic.</P>
                </div>
            </div>
            <div class="col-5 order-info" style="background: #f1f1f1">
                <div class="order-cost-info">
                    <div class="left">
                        <p>Sub Total</p>
                    </div>
                    <div class="right">
                        <p>$ 15190.00</p>
                    </div>
                </div>
                <div class="order-cost-info">
                    <div class="left">
                        <p>Tax Vat (15%)</p>
                    </div>
                    <div class="right">
                        <p>$ 2278.00</p>
                    </div>
                </div>
                <div class="order-cost-info">
                    <div class="left">
                        <p>Discount</p>
                    </div>
                    <div class="right">
                        <p>$ 228.00</p>
                    </div>
                </div>
                <div class="order-cost-info">
                    <div class="left">
                        <p><strong>Grand Total</strong></p>
                    </div>
                    <div class="right">
                        <p><strong>$ 17898.00</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="company-info">
                <h5>Company Information</h5>
                <div class="company-info-row">
                    <div class="company-info-row__data">
                        <div class="icon">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <div>
                            <p>+1-298-555-0163</p>
                            <p>+1-298-555-0163</p>
                        </div>
                    </div>
                    <div class="company-info-row__data">
                        <div class="icon">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </div>
                        <div>
                            <p>+1-298-555-0163</p>
                            <p>+1-298-555-0163</p>
                        </div>
                    </div>
                    <div class="company-info-row__data">
                        <div class="icon">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                        <div>
                            <p>+1-298-555-0163</p>
                            <p>+1-298-555-0163</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>