<div class="container">
    <button class="btn" (click)="print()">Print Invoice</button>
    <div class="invoice" id="section-to-print">
        <div class="row">
            <div class="col-7">
                <img [src]="'assets/icons/bk-logo.png'" class="logo">
            </div>
            <div class="col-5">
                <h1 class="document-type display-8"><strong>الفاتورة</strong></h1>
                <p class="text-right invoice-data"><strong><span>التاريخ :</span></strong> 07/05/2021</p>
                <p class="text-right invoice-data"><strong><span>رقم الفاتورة :</span></strong> 00001</p>
                <p class="text-right invoice-data"><strong><span>رقم العميل :</span></strong> CUST123</p>
                <p class="text-right invoice-data"><strong><span>رقم طلب الشراء :</span></strong> 000002</p>
                <p class="text-right invoice-data"><strong><span>تاريخ السداد المستحق:</span></strong> 07/05/2021</p>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <h6><strong>الدفع إلى :</strong></h6>
                <p>أحمد خطاب</p>
                <p>القاهرة ، مصر</p>
                <p>الرمز البريدى</p>
                <p>201000-22-0707</p>
            </div>
            <div class="col-5">
                <h6><strong>تم شحنها إلى :</strong></h6>
                <p>أحمد خطاب</p>
                <p>القاهرة ، مصر</p>
                <p>الرمز البريدى</p>
                <p>201000-22-0707</p>
            </div>
        </div>
        <br>
        <!-- <h6>Audits et rapports mensuels (1er Novembre 2016 - 30 Novembre 2016)</h6> -->
        <table class="table">
            <thead>
                <tr>
                    <th>رقم العنصر</th>
                    <th style="border-right:1px solid #ccc;">وصف السلعة</th>
                    <th> التكلفة</th>
                    <th>الكمية / العدد</th>
                    <th>المبلغ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01.</td>
                    <td style="border-right:1px solid #ccc;">
                        <p><strong>Item name</strong></p>
                        <p>Item description ..........</p>
                    </td>
                    <td>{{500 | currency:' EGP '}}</td>
                    <td>1</td>
                    <td>{{500 | currency:' EGP '}}</td>
                </tr>
                <tr>
                    <td>02.</td>
                    <td style="border-right:1px solid #ccc;">
                        <p><strong>Item name</strong></p>
                        <p>Item description ..........</p>
                    </td>
                    <td>{{500 | currency:' EGP '}}</td>
                    <td>1</td>
                    <td>{{500 | currency:' EGP '}}</td>
                </tr>
                <tr>
                    <td>03.</td>
                    <td style="border-right:1px solid #ccc;">
                        <p><strong>Item name</strong></p>
                        <p>Item description ..........</p>
                    </td>
                    <td>{{500 | currency:' EGP '}}</td>
                    <td>1</td>
                    <td>{{500 | currency:' EGP '}}</td>
                </tr>
                <tr>
                    <td>04.</td>
                    <td style="border-right:1px solid #ccc;">
                        <p><strong>Item name</strong></p>
                        <p>Item description ..........</p>
                    </td>
                    <td>{{500 | currency:' EGP '}}</td>
                    <td>1</td>
                    <td>{{500 | currency:' EGP '}}</td>
                </tr>

            </tbody>
        </table>
        <div class="row">
            <div class="col-7">
                <div class="payment-details">
                    <h6><strong>طريقة الدفع</strong></h6>
                    <p><strong>باى بال:</strong> payments@blackstoneeit.com</p>
                    <p><strong>وي أكسبت:</strong> فيزا, مستر كارت, بايونير</p>
                </div>
                <div class="payment-details">
                    <h6><strong>الشروط والأحكام </strong></h6>
                    <P> الوضع الحالي ، من خلال الأشياء والحركة التي تم إنشاؤها لأعمالك! يجب أن يكون هذا هو الحال بالنسبة لك.</P>
                </div>
            </div>
            <div class="col-5 order-info" style="background: #f1f1f1">
                <div class="order-cost-info">
                    <div class="left">
                        <p>المجموع الفرعى</p>
                    </div>
                    <div class="right">
                        <td>{{2000 | currency:' EGP '}}</td>
                    </div>
                </div>
                <div class="order-cost-info">
                    <div class="left">
                        <p>ضريبة القيمة المضافة
                            (15%)</p>
                    </div>
                    <div class="right">
                        <td>{{2300 | currency:' EGP '}}</td>
                    </div>
                </div>
                <div class="order-cost-info">
                    <div class="left">
                        <p>الخصم</p>
                    </div>
                    <div class="right">
                        <td>{{200 | currency:' EGP '}}</td>
                    </div>
                </div>
                <div class="order-cost-info">
                    <div class="left">
                        <p><strong>المجموع الإجمالي
                            </strong></p>
                    </div>
                    <div class="right">
                        <td>{{2100 | currency:' EGP '}}</td>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="company-info">
                <h5>معلومات الشركة</h5>
                <div class="company-info-row">
                    <div class="company-info-row__data">
                        <div class="icon">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <div>
                            <p>T:+1 (425) 283-3463</p>
                        </div>
                    </div>
                    <div class="company-info-row__data">
                        <div class="icon">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </div>
                        <div>
                            <p>Sales@BlackStoneeIT.com
                            </p>
                        </div>
                    </div>
                    <div class="company-info-row__data">
                        <div class="icon">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                        <div>
                            <p>Seatle WA
                                </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>